SECRET_KEY=change-this-secret
DATABASE_URL=postgresql://USER:PASSWORD@HOST/neondb?sslmode=require
ADMIN_EMAIL=ptrulina50@gmail.com
ADMIN_PASSWORD=change-this-password
STUDIO_EMAIL=ptrulina50@gmail.com
STUDIO_PHONE=+254700549855
STUDIO_WHATSAPP=25439735584
